<ion-content>
  <ion-card color="dark">
    <ion-card-header color="dark">
        <ion-label> Die Nutzung dieser App ersetzt nicht die medizinische Behandlung durch einen Arzt oder die klinische Diagnostik. Die CoronaTracker App dient der Verbesserung der Abläufe im Untersuchungszentrum und anderen Ambulanzen im Zusammenhang mit dem neuartigen Coronavirus COVID-19. Wenn Sie sich derzeit schwer krank fühlen, wenden Sie sich bitte sofort an einen Arzt
          !</ion-label>
    </ion-card-header> 
  </ion-card>
  <ion-row>
    <ion-col class="ion-margin-top" padding>
      <ion-button  color="dark" expand="full" (click)="validateEmail()" >Weiter</ion-button>
     </ion-col>
  </ion-row>
</ion-content>

