.inputframe {
    //  border-radius: 2px !important;
    // border: 1px solid #e60000; Möglichen Rahmen auskommentiert

    background-color: rgba(255, 255, 255, 0.75);
    color: #222222;
/*other attributes*/
}
ion-content{
   --background: #fff url('../../assets/background/corona-tracker-neu.png') no-repeat center center / cover;
    --overflow: hidden;
  }
  .custom-class{
    .toast-wrapper {
    background-color: red;
    }
    }
ion-toast.dangerToast {
    opacity: 0.9;
    //text-align: center;
    color: white;
    --background: var(--ion-color-danger);
}

.ion-margin-top {
    position: absolute;
      bottom: 0;
}
.ion-toast-info {
  background-color: yellow;
}
.ion-toast-success {
  background-color: green;
}
.ion-toast-failure {
  background-color: black;
}