<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
     
          <ion-back-button defaultHref="/tabs/questionaire"></ion-back-button>
    
    </ion-buttons>
    <ion-title color="light">Über uns</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content padding>

<ion-row>
  <ion-col>
    Diese App wurde programmiert von <a href="mailto:muneeb.fayyaz@unitymedia.de">Muneeb Fayyaz</a>, <a href="sauerbrei@t-online.de">Detlef Sauerbrei</a>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    
  </ion-col>
</ion-row>
</ion-content>
