<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
     
          <ion-back-button defaultHref="/tabs/questionaire"></ion-back-button>
    
    </ion-buttons>
    <ion-title color="medium">Fertigstellen</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Alter</ion-label>
    <ion-input [(ngModel)]="finishAge" name="finsh_age" color="light" class="inputframe"  padding placeholder="Dein Alter?" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Geschlecht</ion-label>
    <ion-input [(ngModel)]="finishGender" name="finsh_gender" color="light" class="inputframe"  padding placeholder="Geschlecht? (w/m/d)" maxlength="1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>PLZ</ion-label>
    <ion-input [(ngModel)]="finishPostalcode" name="finsh_Postalcode" color="light" class="inputframe"  padding placeholder="Postleitzahl?" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Personen</ion-label>
    <ion-input [(ngModel)]="finishPeopleInHouse" name="finsh_People" color="light" class="inputframe"  padding placeholder="Anzahl der Personen im Haushalt?" type="number"></ion-input>
  </ion-item>
</ion-list>
<ion-button id="submitFormButton" (click)="SetStorage()" expand="block" color="medium" >Abschicken</ion-button>
</ion-content>
