
  
    <ion-content>
      <ng-container *ngFor="let question of questions;let i=index">
        
        <ion-card color="dark">
          <ion-card-header color="dark">
            <ion-label>{{questions[i].title}}</ion-label>
          </ion-card-header>    
        </ion-card> 
        <ion-item color="medium" backgroundcolor="medium">{{questions[i].text}}</ion-item>
        
          <ng-container  *ngIf="questions[i].answerType== 'FREETEXT'">
            <ion-item color="light"><ion-input  id="{{questions[i]._id}}" placeholder="Bitte info eingeben"></ion-input></ion-item>            
          </ng-container>
          
          <ng-container  *ngIf="questions[i].answerType == 'MULTICHOICE'" >
            <ion-list id="{{questions[i]._id}}" class="ion-no-padding">
              <ion-item *ngFor="let options of questions[i].possibleAnswers;let j=index" color="light">
                <ion-checkbox id="{{options._id}}" slot="start"></ion-checkbox>
                <ion-label>{{options.text}}</ion-label>
              </ion-item > 
            </ion-list>
                        
          </ng-container>
          <ng-container *ngIf="questions[i].answerType == 'SINGLECHOICE'">
            <ion-list radio-group no-lines class="ion-no-padding">
              <ion-radio-group  id="{{questions[i]._id}}">
                <ion-item  *ngFor="let options of questions[i].possibleAnswers;let j=index" color="light">
                  <ion-label>{{options.text}}</ion-label>
                  <ion-radio id="{{options._id}}" slot="start" color="success" value="{{options.text}}"></ion-radio>
              </ion-item>
              </ion-radio-group>
            </ion-list>
                       
          </ng-container>
        
      </ng-container>
      <ion-button id="submitFormButton" (click)="SendQuestionaire()" expand="block" color="dark " >Weiter</ion-button>
    </ion-content>