<ion-tabs>

<ion-tab-bar slot="bottom" color="dark">
   <!--  <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Archiv</ion-label>
    </ion-tab-button> -->
    
    <ion-tab-button tab="info" color="dark" backgroundcolor="dark">
      <ion-icon color="light"  name="information-circle"></ion-icon>
      <ion-label>About us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
