<ion-header>
  <ion-toolbar>
    <ion-title>Auswertung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Vielen Dank! Die Auswertung Ihrer Antworten lässt folgende Bewertung zu:
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{feedbackSummary}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
